@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
  $(document).ready(function () {
      $("#secondli").addClass("active");
  });
</script>





<div class="main">
    <div class="ui_title mt20">
        <div class="ui_title_wrap">
            <a href="javascript:;" class="on">热菜</a>
        </div>
    </div>
    <div class="prod">
        <div class="col_1_of_3 span_1_of_3">
            <div class="view effect">
                <img src="/images/pic9.jpg" alt="" />
                <div class="mask"></div>
            </div>
            <a href="#"><h3>油焖大虾</h3></a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <div class="view effect">
                <img src="/images/pic10.jpg" alt="" />
                <div class="mask"></div>

            </div>
            <a href="#"><h3>红烧茄子</h3></a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <div class="view effect">
                <img src="/images/pic10.jpg" alt="" />
                <div class="mask"></div>

            </div>
            <a href="#"><h3>红烧茄子</h3></a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <div class="view effect">
                <img src="/images/pic11.jpg" alt="" />
                <div class="mask"></div>
            </div>
            <a href="#"> <h3>Lorem Ipsum is simply</h3></a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <div class="view effect">
                <img src="/images/pic11.jpg" alt="" />
                <div class="mask"></div>
            </div>
            <a href="#"> <h3>Lorem Ipsum is simply</h3></a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <div class="view effect">
                <img src="/images/pic11.jpg" alt="" />
                <div class="mask"></div>
            </div>
            <a href="#"> <h3>Lorem Ipsum is simply</h3></a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <div class="view effect">
                <img src="/images/pic11.jpg" alt="" />
                <div class="mask"></div>
            </div>
            <a href="#"> <h3>Lorem Ipsum is simply</h3></a>
        </div>
        <div class="clear"></div>
    </div>





</div>






