@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="menu">
    <div class="top-nav">
        <ul>
            <li><a href="/Home/index">首页</a></li>
            <li><a href="/FoodSort/Index">分类</a></li>
            <li><a href="/FoodMaterial/Index">食材</a></li>
            <li><a href="/SubjectArticle/Index">饮食专题</a></li>
            <li><a href="/UserInfo/UserCenter">个人中心</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>




<div class="main">
    <div class="prod">
        <div class="col_1_of_3 span_1_of_3">
            <div class="view effect">
                <img src="/images/pic9.jpg" alt="" />
                <div class="mask"></div>
            </div>
            <a href="#"><h3>油焖大虾</h3></a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <div class="view effect">
                <img src="/images/pic10.jpg" alt="" />
                <div class="mask"></div>

            </div>
            <a href="#"><h3>红烧茄子</h3></a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <div class="view effect">
                <img src="/images/pic10.jpg" alt="" />
                <div class="mask"></div>

            </div>
            <a href="#"><h3>红烧茄子</h3></a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <div class="view effect">
                <img src="/images/pic11.jpg" alt="" />
                <div class="mask"></div>
            </div>
            <a href="#"> <h3>Lorem Ipsum is simply</h3></a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <div class="view effect">
                <img src="/images/pic11.jpg" alt="" />
                <div class="mask"></div>
            </div>
            <a href="#"> <h3>Lorem Ipsum is simply</h3></a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <div class="view effect">
                <img src="/images/pic11.jpg" alt="" />
                <div class="mask"></div>
            </div>
            <a href="#"> <h3>Lorem Ipsum is simply</h3></a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <div class="view effect">
                <img src="/images/pic11.jpg" alt="" />
                <div class="mask"></div>
            </div>
            <a href="#"> <h3>Lorem Ipsum is simply</h3></a>
        </div>
        <div class="clear"></div>
    </div>
</div>






