@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .fenlei {
        width: 1200px;
        margin:auto;
    }

        .fenlei ul {
            width: 950px;
            margin:auto;
        }
  .fenlei ul li {
                width: 300px;
                display: inline-block;
                height: 100px;
                font-size: large;
                text-align: center;
                margin: auto;
                color:black;
            }

    .fenleititle {
        color: brown;
        font-size: 33px;
        margin-left: 566px;
    }
</style>
<script>
    $(document).ready(function () {
        $("#secondli").addClass("active");
    });
</script>


    <div class="fenlei">
        <b class="fenleititle">分类</b>
        <ul class="nav nav-pills nav-justified">
            <li><a href="#">家常菜</a></li>
            <li><a href="#">家常菜</a></li>
            <li><a href="#">家常菜</a></li>
            <li><a href="#">家常菜</a></li>
            <li><a href="#">家常菜家常菜</a></li>
            <li><a href="#">家常菜</a></li>
            <li><a href="#">家常菜家常菜</a></li>
            <li><a href="#">家常菜家常菜</a></li>
            <li><a href="#">家常菜</a></li>
            <li><a href="#">家常菜</a></li>
            <li><a href="#">家常菜</a></li>
            <li><a href="#">家常菜</a></li>
            <li><a href="#">家常菜家常菜</a></li>
            <li><a href="#">家常菜家常菜</a></li>
            <li><a href="#">家常菜家常菜</a></li>
            <li><a href="#">家常菜</a></li>
            <li><a href="#">家常菜</a></li>
            <li><a href="#">家常菜</a></li>
        </ul>
        <div class="clear"></div>
    </div>


