@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ys {
        display: inline-block;
        width: 590px;
        padding-left: 12px;
        padding-top:10px;
    }

</style>
<div class="menu">
    <div class="top-nav">
        <ul>
            <li><a href="/Home/index">首页</a></li>
            <li><a href="/FoodSort/Index">分类</a></li>
            <li><a href="/FoodMaterial/Index">食材</a></li>
            <li class="active"><a href="/SubjectArticle/Index">饮食专题</a></li>
            <li><a href="/UserInfo/UserCenter">个人中心</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="main">
    <div id="ys-container">
        <div class=" ys" id="ys1">
            <h3><span class="red">补血安神十种食物疗最有效</span></h3>
            <p style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; ">气血不足是中医的概念，气和血都是生命的载体，共同滋润身体，使身体正常协调地运作。春季气候多变，人体容易血虚，机体失调，使身体气血不畅，常会出现失眠多梦等不适的症状，要解决这些毛病，就要经常补血安神了，那么有什么食物帮助我们补血安神呢？下面推荐十种补血安神的好食物，一起来看一下吧。</p>
            <a href="#"><button class="btn1 btn-8 btn-8a">Read More</button></a>
        </div>
        <div class=" ys" id="ys2">
            <h3><span class="red">补血安神十种食物疗最有效</span></h3>
            <p style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; ">气血不足是中医的概念，气和血都是生命的载体，共同滋润身体，使身体正常协调地运作。春季气候多变，人体容易血虚，机体失调，使身体气血不畅，常会出现失眠多梦等不适的症状，要解决这些毛病，就要经常补血安神了，那么有什么食物帮助我们补血安神呢？下面推荐十种补血安神的好食物，一起来看一下吧。</p>
            <a href="#"><button class="btn1 btn-8 btn-8a">Read More</button></a>
        </div>
        <div class=" ys" id="ys2">
            <h3><span class="red">补血安神十种食物疗最有效</span></h3>
            <p style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; ">气血不足是中医的概念，气和血都是生命的载体，共同滋润身体，使身体正常协调地运作。春季气候多变，人体容易血虚，机体失调，使身体气血不畅，常会出现失眠多梦等不适的症状，要解决这些毛病，就要经常补血安神了，那么有什么食物帮助我们补血安神呢？下面推荐十种补血安神的好食物，一起来看一下吧。</p>
            <a href="#"><button class="btn1 btn-8 btn-8a">Read More</button></a>
        </div>
    </div>


</div>








