
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


            <div class="menu">
                <div class="top-nav">
                    <ul>
                        <li><a href="/Home/index">首页</a></li>
                        <li><a href="/FoodSort/Index">分类</a></li>
                        <li><a href="/FoodMaterial/Index">食材</a></li>
                        <li class="active"><a href="/SubjectArticle/Index">饮食专题</a></li>
                        <li><a href="/UserInfo/UserCenter">个人中心</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
<div class="main">
    <div class="ui_list_1 space_box_home get_num" id="J_list" style="margin-left:100px;margin-right:200px;margin-bottom">
        <ul>
            <li data-id="132487">
                <div class="pic"><a title="春天最该吃的8种清火食物" href="/Health/CommonSense/201604/132487.html" target="_blank"><img class="pic1" src="http://i1.meishichina.com/Health/UploadFiles/201604/2016040515205724.jpg" width="106" height="70" border="0"></a></div>
                <div class="detail">
                    <h4><a title="春天最该吃的8种清火食物" href="/Health/CommonSense/201604/132487.html" target="_blank">春天最该吃的8种清火食物</a></h4>
                    <p class="subline">2016-4-5 14:44:27</p>
                    <p class="subcontent">春暖花开的日子，可是你却牙龈红肿、出血，咽喉肿痛？别急，对付烦人的上火问题，除了日常用药食疗也是很有效的哦。下面为你推荐8种春季饮食，清热袪火可全靠它们了！</p>
                </div>
            </li>
            <li data-id="132486">
                <div class="pic"><a title="6种美白蔬菜&nbsp;帮你自然白" href="/Health/CommonSense/201604/132486.html" target="_blank"><img class="pic1" src="http://i1.meishichina.com/Health/UploadFiles/201604/2016040514411885.jpg" width="106" height="70" border="0"></a></div>
                <div class="detail">
                    <h4><a title="6种美白蔬菜&nbsp;帮你自然白" href="/Health/CommonSense/201604/132486.html" target="_blank">6种美白蔬菜&nbsp;帮你自然白</a></h4>
                    <p class="subline">2016-4-5 14:14:00</p>
                    <p class="subcontent">面膜能美白，化妆品能美白，你知道蔬菜也有美白的功效吗？常吃下面6种蔬菜可以让你水润美白，改善肌肤状况。</p>
                </div>
            </li>
            <li data-id="132485">
                <div class="pic"><a title="补血安神，十种食物疗最有效" href="/Health/CommonSense/201604/132485.html" target="_blank"><img class="pic1" src="http://i1.meishichina.com/Health/UploadFiles/201604/2016040513560158.jpg" width="106" height="70" border="0"></a></div>
                <div class="detail">
                    <h4><a title="补血安神，十种食物疗最有效" href="/Health/CommonSense/201604/132485.html" target="_blank">补血安神，十种食物疗最有效</a></h4>
                    <p class="subline">2016-4-5 12:23:54</p>
                    <p class="subcontent">气血不足是中医的概念，气和血都是生命的载体，共同滋润身体，使身体正常协调地运作。春季气候多变，人体容易血虚，机体失调，使身体气血不畅，常会出现失眠多梦等不适的症状，要解决这些毛病，就要经常补血安神了，那么有什么食物帮助我们补血安神呢？下面推荐十种补血安神的好食物，一起来看一下吧。</p>
                </div>
            </li>
        </ul>
    </div>
</div>

          






