@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*.ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }*/

    .col_1_of_4:first-child {
        margin-left: 1%;
    }

    .col_1_of_4 {
        margin: 2.5% 0 2.5% 1%;
    }

    a.btn1 {
        border-radius: 2em;
    }
</style>
<script>
    $(document).ready(function () {
        $("#forthli").addClass("active");
    });
</script>

<div class="main" style="width:90%;margin:auto;">
    @*循环开始*@
    <div class="mainborder" style="height:auto;border-bottom:1px solid;">
        <div style="width:50%;text-align:center;position:relative;float:left;top:20px;">
            <div>
                <a href="/SubjectArticle/Get?id=" style="height: 2.4em; font-size: 20px; color: #ff801a;">孕妇不能吃什么？能吃什么？你知道吗？你知道吗？</a>
            </div>
        </div>
        <div style="width: 50%; position: relative; float: right; text-align: center;" class="buzhou">
            <p style="margin: auto;padding:20px 40px;line-height:2;font-size:14px;" class="ellipsis">气血不足是中医的概念，气和血都是生命的载体，共同滋润身体，使身体正常协调地运作。春季气候多变，人体容易血虚，机体失调，使身体气血不畅，常会出现失眠多梦等不适的症状，要解决这些毛病，就要经常补血安神了，那么有什么食物帮助我们补血安神呢？下面推荐十种补血安神的好食物，一起来看一下吧。</p>
        </div>

        <div class="clear"></div>
    </div>
    <div class="mainborder" style="height:auto;border-bottom:1px solid;">
        <div style="width: 50%; position: relative; float: left; text-align: center;" class="buzhou">
            <p style="margin: auto; padding: 20px 40px; line-height: 2; font-size: 14px;" class="ellipsis">气血不足是中医的概念，气和血都是生命的载体，共同滋润身体，使身体正常协调地运作。春季气候多变，人体容易血虚，机体失调，使身体气血不畅，常会出现失眠多梦等不适的症状。</p>
        </div>

        <div style="width:50%;text-align:center;position:relative;float:right;top:20px;">
            <div>
                <a href="#"style="height: 2.4em; font-size: 20px; color: #ff801a;">孕妇不能吃什么？能吃什么？你知道吗？你知道吗？</a>
            </div>
        </div>
        

        <div class="clear"></div>
    </div>
    @*循环结束*@
    <div class="mainborder" style="height:auto;border-bottom:1px solid;">
        <div style="width:50%;text-align:center;position:relative;float:left;top:20px;">
            <div>
                <a href="#" style="height: 2.4em; font-size: 20px; color: #ff801a;">孕妇不能吃什么？</a>
            </div>
        </div>
        <div style="width: 50%; position: relative; float: right; text-align: center;" class="buzhou">
            <p style="margin: auto;padding:20px 40px;line-height:2;font-size:14px;" class="ellipsis">气血不足是中医的概念，气和血都是生命的载体，共同滋润身体，使身体正常协调地运作。</p>
        </div>

        <div class="clear"></div>
    </div>
    <div class="mainborder" style="height:auto;border-bottom:1px solid;">
        <div style="width: 50%; position: relative; float: left; text-align: center;" class="buzhou">
            <p style="margin: auto; padding: 20px 40px; line-height: 2; font-size: 14px;" class="ellipsis">气血不足是中医的概念，气和血都是生命的载体，共同滋润身体，使身体正常协调地运作。春季气候多变，人体容易血虚，机体失调，使身体气血不畅，常会出现失眠多梦等不适的症状。</p>
        </div>

        <div style="width:50%;text-align:center;position:relative;float:right;top:20px;">
            <div>
                <a href="#" style="height: 2.4em; font-size: 20px; color: #ff801a;">孕妇不能吃什么？能吃什么？</a>
            </div>
        </div>


        <div class="clear"></div>
    </div>




    @*<div class="content-last">
        <div class="col_1_of_4 span_1_of_4">
            <h3 style="height:2.4em;">孕妇不能吃什么？能吃什么？你知道吗？</h3>
            <p class="ellipsis" style="padding:0;">气血不足是中医的概念，气和血都是生命的载体，共同滋润身体，使身体正常协调地运作。春季气候多变，人体容易血虚，机体失调，使身体气血不畅，常会出现失眠多梦等不适的症状，要解决这些毛病，就要经常补血安神了，那么有什么食物帮助我们补血安神呢？下面推荐十种补血安神的好食物，一起来看一下吧。</p>
            <a href="#" class="btn1 btn-8 btn-8a">Read More</a>
        </div>

        <div class="clear"></div>
    </div>*@

</div>








