@{
    ViewBag.Title = "添加";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript"> 
    function sure() {
        //CKEDITOR.instances.content.getData();
        var content = CKEDITOR.instances.content.getData();
        //alert(content);
        var title = $('#title').val();
        if (!title)
        {
            layer.msg('标题不能为空')
            $('#title').focus();
            return;
        }
        var brief = $('#brief').val();
        if (!brief) {
            layer.msg('简介不能为空')
            $('#brief').focus();
            return;
        }
       
        if (!content) {
            layer.msg('正文不能为空')
            $('#content').focus();
            return;
        }

        $.ajax({
            type: 'post',
            url: '/AdminSubjectArticle/Add',
            dataType: 'json',
            data:{content:content,title:title,brief:brief},
            success: function (data) {                
                if(data.StatusCode===1)
                {
                    layer.msg("成功");
                    setTimeout(function () { window.location.href = '/AdminSubjectArticle/Manager?pageindex=1'; }, 1000);
                }
                else
                {
                    layer.alert(data.Message);
                }
            }
        });
    }
    function preview() {
        $('#divPreview').css('display', 'block');
        var content = CKEDITOR.instances.content.getData();
        $('#divPreview').html(content);
    }
</script>

<div class="page-header">
    <h2>添加专题文章</h2>
</div>

<script src="http://shianyun-oss.oss-cn-beijing.aliyuncs.com/statics/DP/JsLib/ckeditor/ckeditor.js"></script>

<label>标题</label>&nbsp;<input type="text" id="title" style="width:60%"/>
<br />
<label>简介</label>&nbsp;<textarea rows="8" cols="80" id="brief"></textarea>

<br />
<label>正文</label><input type="text" id="content" />
 

<script type="text/javascript">

    CKEDITOR.replace('content', {height:'1000px'});
</script>


<input type="button" value="确定添加" onclick="sure()" id="sure" class="btn btn-default" />
<input type="button" value="预览" id="preview" onclick="preview()" class="btn btn-default" />

<div id="divPreview" style="border:1px solid red;display:none;">

</div>
