@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PublishCookBook.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $("#daohang li:last").addClass("active");
    });
</script>
<div class="mod_left">
    <div class="menu_wrap">
        <ul>
            <li>
                <h2>食谱网</h2>
            </li>
            <li>
                <a href="/UserInfo/UserCenter">菜谱</a>
            </li>

            <li>
                <a class="on" href="/LikeCookBook/Index">收藏</a>
            </li>
        </ul>
    </div>
    <!-- 左侧分类导航结束 -->
</div>
<div class="mod_right">
    <div class="ui_title mt20">
        <div class="ui_title_wrap">
            <a href="#" class="on">我的收藏</a>
        </div>
    </div>
    <div id="J_list" class="ui_list_1 space_box_home get_num">
        <ul>
            <li data-id="256590">
                <div class="pic"> <a target="_blank" href="#" title="火龙果汁樱花慕斯"> <img width="120" height="90" class="imgLoad" src="http://i3.meishichina.com/attachment/recipe/2016/03/14/p120_20160314145793744758513.jpg" alt="火龙果汁樱花慕斯" style="display: block;"></a></div>
                <div class="detail">
                    <h4><a target="_blank" href="#">火龙果汁樱花慕斯</a></h4>
                    <p class="subline"><a href="javascript:;">相约9⃣️8⃣️</a>发表于2016-3-14</p>
                    <div class="substatus clear">
                        <div class="left"><span>收藏（143）</span></div>
                        <div class="right">
                        </div>
                    </div>
                </div>
            </li>
            <li data-id="255631">
                <div class="pic"> <a target="_blank" href="#" title="梅花慕斯"> <img width="120" height="90" class="imgLoad" src="http://i3.meishichina.com/attachment/recipe/2016/03/06/p120_20160306145724080942213.jpg" alt="梅花慕斯" style="display: block;"></a></div>
                <div class="detail">
                    <h4><a target="_blank" href="#">梅花慕斯</a></h4>
                    <p class="subline"><a href="#">孟子72</a>发表于2016-3-6</p>
                    <div class="substatus clear">
                        <div class="left"><span>阅读（15845）</span><span>收藏（769）</span></div>
                        <div class="right">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>

