<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>
<body>
    <form action="/Upload/UploadImgTwo" name="form" method="POST" id="form" enctype="multipart/form-data">
        <input type="hidden" name="policy" value="eyJidWNrZXQiOiJtZWlzaGktcGljIiwiZXhwaXJhdGlvbiI6MTQ1OTc1NjEzNywic2F2ZS1rZXkiOiJcL2F0dGFjaG1lbnRcL3JlY2lwZVwve3llYXJ9XC97bW9ufVwve2RheX1cL3t5ZWFyfXttb259e2RheX17cmFuZG9tfXsuc3VmZml4fSIsImFsbG93LWZpbGUtdHlwZSI6ImpwZyxqcGVnLGdpZixwbmciLCJyZXR1cm4tdXJsIjoiaHR0cDpcL1wvbWVtYmVyLm1laXNoaWNoaW5hLmNvbVwvbWVpc2hpMi5waHA/YWM9cmVjaXBlJm9wPXJlY2lwZV9pZnJhbWV1cGxvYWRfdXBhaSJ9">
        <input type="hidden" name="signature" value="91d912208e4f9885148d4d42bb006acb">
    </form>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?fb9cd9dcdda23cee0c7357db9be24acb";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        (function () {
            var bp = document.createElement('script');
            bp.src = '//push.zhanzhang.baidu.com/push.js';
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
    <span style="display:none;">
    <script src="http://s58.cnzz.com/stat.php?id=226226&web_id=226226" charset="gb2312"></script></span>
</body>
</html>
