<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/layer9.1/layer.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
