<?xml version="1.0" encoding="utf-8"?>
<!--
    注意: 向配置设置的 App.config 文件添加
    只适用于 Test 项目的条目。
-->
<configuration>
    <appSettings>
      <add key="EmailName" value="cl889521@163.com" />
      <add key="Password" value="woaiwojia889521" />
    </appSettings>

    <connectionStrings>
      <add name="DelicacyEntities" connectionString="metadata=res://*/Delicacy.csdl|res://*/Delicacy.ssdl|res://*/Delicacy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Delicacy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"  providerName="System.Data.EntityClient"/>
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>
