
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>后台中心</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript"> 
        function subjectArticle() {
            window.location.href = '/AdminSubjectArticle/Index';
        }

        function userManager() {
            window.location.href = '/AdminUser/UserManager';
        }
    </script>
</head>
<body>
    <div> 
        <input type="button" id="subjectArticle" onclick="subjectArticle()" value="饮食专题管理" />
        <input type="button" id="userManager" onclick="userManager()" value="用户管理"/> 
    </div>
</body>
</html>
