@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户登录-美食网</title>
    <link href="~/Content/register.css" rel="stylesheet" />
    
</head>
<body>
    <div class="login">
        <div class="login-top">
            <h1>登录</h1>
            <form>
                <input type="text" placeholder="邮箱" />
                <input type="password" value="" placeholder="密码"  />
            </form>
            <div class="forgot">
                <a href="#">忘记密码</a>
                <input type="submit" value="登录">
            </div>
        </div>
        <div class="login-bottom">
            <h3>New User &nbsp;<a href="/UserInfo/Register">Register</a>&nbsp Here</h3>
        </div>
    </div>
</body>
</html>
