@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户登录-美食网</title>
    <link href="~/Content/register.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/formatVerify.js"></script>
    <script src="~/Scripts/md5.js"></script>
    <script src="~/Scripts/layer9.1/layer.js"></script>
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script src="~/Scripts/register.js"></script>
    <script type="text/javascript">
        //异步加载的提示
        $(document).ajaxStart(function () {
            $.fancybox.showLoading();
        })
        $(document).ajaxStop(function () {
            $.fancybox.hideLoading();
        })
    </script>
</head>
<body>
    <div class="login">
        <div class="login-top">
            <h1>登录</h1>
            <form>
                <input type="text" id="email" placeholder="邮箱" />
                <input type="password" id="pwd" value="" placeholder="密码"  />
            </form>
            <div class="forgot">
                <a href="/UserInfo/LostPwd">忘记密码</a>
                <input type="submit" onclick="login()" value="登录">
            </div>
        </div>
        <div class="login-bottom">
            <h3>New User &nbsp;<a href="/UserInfo/Register">Register</a>&nbsp Here</h3>
        </div>
    </div>
</body>
</html>
