@{
    ViewBag.Title = "个人中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PublishCookBook.css" rel="stylesheet" />
<script>
    var index = 1, size = 10, status = 1;
    var flag=true
    $(document).ready(function () {
        $("#daohang li:last").addClass("active");
        getAccessCookBook(index, size, status);
    });

    //获取审核通过的菜谱
    function getAccessCookBook(pageIndex, pageSize, status) {
        $.ajax({
            type: 'get',
            url: '/UserCenter/GetaPageCookBookByStatus',
            dataType: 'json',
            data: { pageIndex: pageIndex, pageSize: pageSize, status: status },
            success: function (data) {
                if (data.StatusCode == 1) {
                    initList(data.Data);
                } else {
                    flag = false;
                    return layer.msg(data.Message);
                }

            }
        });
    }
    function initList(json) {
        var str = '';
        $.each(json, function () {

            str += '<li ><div class="pic"> <a target="_blank" href="#" title="'+this.Name+'"> <img width="120" height="90" class="imgLoad" src="'+this.ImgUrl+'" alt="'+this.Name+'" style="display: block;"></a></div><div class="detail"><h4><a target="_blank" href="#">'+this.Name+'</a></h4><p class="subline"><a href="javascript:;">'+this.UserName+'</a>发表于'+this.DateTime+'</p><div class="substatus clear"><div class="left"><span>收藏</span></div><div class="right"></div></div></div></li>';

        })
        $('#ulAccessCook').append(str);
        window.onscroll = function () {
            var scrollTop = document.body.scrollTop;
            var offsetHeight = document.body.offsetHeight;
            var scrollHeight = document.body.scrollHeight;
            if (scrollTop == scrollHeight - offsetHeight && flag) {
                index++;
                getAccessCookBook(index, size, status);
            }
        };
    }
</script>
<div class="mod_left">
    <div class="menu_wrap">
        <ul>
            <li>
                <h2>食谱网</h2>
            </li>
            <li>
                <a class="on" href="/UserInfo/UserCenter">菜谱</a>
            </li>

            <li>
                <a href="/LikeCookBook/Index">收藏</a>
            </li>
        </ul>
    </div>
</div>
<div class="mod_right">
    <div class="ui_title mt20">
        <div class="ui_title_wrap">
            <a href="/UserInfo/UserCenter" class="on">我的菜谱</a>
            <a href="/UserCenter/WaitCheck">待审核</a>
            <a href="#">审核未通过</a>
            <a href="#">草稿箱</a>
        </div>
        <div class="ui_title_right">
            <a href="/CookBook/PublishCookBook" class="ui_btn_blue on">发布新菜谱</a>
        </div>
    </div>
    <div id="J_list" class="ui_list_1 space_box_home get_num">
        <ul class="ui_list_1" id="ulAccessCook">
            
            @*<li data-id="255631">
                <div class="pic"> <a target="_blank" href="#" title="梅花慕斯"> <img width="120" height="90" class="imgLoad" src="http://i3.meishichina.com/attachment/recipe/2016/03/06/p120_20160306145724080942213.jpg" alt="梅花慕斯" style="display: block;"></a></div>
                <div class="detail">
                    <h4><a target="_blank" href="#">梅花慕斯</a></h4>
                    <p class="subline"><a href="#">孟子72</a>发表于2016-3-6</p>
                    <div class="substatus clear">
                        <div class="left"><span>阅读（15845）</span><span>收藏（769）</span></div>
                        <div class="right">
                        </div>
                    </div>
                </div>
            </li>*@

        </ul>

    </div>
</div>

<div class="clear"></div>



