
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerifyEmail</title>
</head>
<body>
    <div> 
        <p>对不起,您的邮箱验证失败</p>
        <a href="/Home/Index">点此返回首页</a>
    </div>
</body>
</html>
