@{
    ViewBag.Title = "待审核";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/center.css" rel="stylesheet" />
<script src="~/Scripts/UserCenter/WaitCheck.js"></script>
<div class="menu">
    <div class="top-nav">
        <ul>
            <li><a href="/Home/index">首页</a></li>
            <li><a href="/FoodSort/Index">分类</a></li>
            <li><a href="/FoodMaterial/Index">食材</a></li>
            <li><a href="/SubjectArticle/Index">饮食专题</a></li>
            <li class="active"><a href="/UserInfo/UserCenter">个人中心</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>

<ul class="ui_list_1">
    
</ul>
