@{
    ViewBag.Title = "待审核";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/center.css" rel="stylesheet" />
<script src="~/Scripts/UserCenter/WaitCheck.js"></script>
<div class="menu">
    <div class="top-nav">
        <ul>
            <li><a href="/Home/index">首页</a></li>
            <li><a href="/FoodSort/Index">分类</a></li>
            <li><a href="/FoodMaterial/Index">食材</a></li>
            <li><a href="/SubjectArticle/Index">饮食专题</a></li>
            <li class="active"><a href="/UserInfo/UserCenter">个人中心</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>

<ul class="ui_list_1">
    <li>
        <div class="pic">
            <a href="http://member.meishichina.com/mycenter/recipe-editnew-id-260305/">
                <img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://meishi-pic.b0.upaiyun.com/attachment/recipe/2016/04/12/20160412x5nniimt5jvzpmif.jpg!p120" alt="fasd f" width="120" height="90" />
            </a>
        </div>
        <div class="detail">
            <h4><a href="http://member.meishichina.com/mycenter/recipe-editnew-id-260305/">fasd f</a></h4>
            <p class="subline">发表于2分钟前</p>
            <p class="subcontent">原料:fasd、asdf。</p>										<div class="substatus clear">
                <div class="right">
                    <a href="http://member.meishichina.com/mycenter/recipe-editnew-id-260305/">编辑</a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="pic">
            <a href="http://member.meishichina.com/mycenter/recipe-editnew-id-260291/">
                <img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://meishi-pic.b0.upaiyun.com/attachment/recipe/2016/04/12/2016041207irt3ub8lpuuyrd.png!p120" alt="发斯蒂芬阿斯蒂芬" width="120" height="90" />
            </a>
        </div>
        <div class="detail">
            <h4><a href="http://member.meishichina.com/mycenter/recipe-editnew-id-260291/">发斯蒂芬阿斯蒂芬</a></h4>
            <p class="subline">发表于32分钟前</p>
            <p class="subcontent">原料:阿斯蒂芬、发adsa。</p>										<div class="substatus clear">
                <div class="right">
                    <a href="http://member.meishichina.com/mycenter/recipe-editnew-id-260291/">编辑</a>
                </div>
            </div>
        </div>
    </li>
</ul>
